 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
 }

 .canvas{
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 400px;
 }
